/*
* This software was written by John Slowik
* Please don't do anything he wouldn't do
*
*//* 
    Created on : Jan 20, 2016, 2:58:41 PM
    Author     : John Slowik <jslowik@my.wctc.edu>
*/
#resumeTitle{
    text-align: center;
}
body{
    background-color:gray;
}
